*.d
*.o
*.a
*.so
*.dep
*.dwo

lib
bin
tags
include
include/3rd
include/isp
include/sensor

*_asan
.vscode/settings.json


modules/isp
modules/uapi/
modules/msg/
modules/pq_bin/
component/isp
component/PanelSupportList

sample_app/sensor/sample_sensor
sample_app/sbm/sample_sbm
sample_app/vio/sample_vio
sample_app/vpss/sample_vpss
sample_app/vdec/sample_vdec
sample_app/venc/sample_venc
sample_app/gfbg/sample_gfbg
sample_app/panel/lt9611/lt9611
sample_app/panel/sample_panel
sample_app/audio/sample_audio
sample_app/region/sample_region
sample_app/tde/sample_tde
sample_app/fastboot/sample_fastboot
sample_app/cipher/sample_cipher
sample_app/gdc/sample_gdc
sample_app/sample_ir_auto/sample_ir_auto

self_test/vc_ut/cvi_api_test
self_test/vc_ut/multi_pro_chns_dec
self_test/vc_ut/multi_pro_chns_enc
self_test/vc_ut/multi_pro_dec_test
self_test/vc_ut/multi_pro_enc_test
self_test/vb_ut/vb_ut
self_test/sys_ut/sys_ut
self_test/vi_ut/vi_ut
self_test/vpss_ut/vpss_ut
self_test/vpss_ut/vpss_ut_client
self_test/rgn_ut/rgn_ut
self_test/ldc_ut/ldc_ut
self_test/vo_ut/vo_ut
self_test/tde_ut/tde_ut
self_test/ipcmsg_ut/ipcmsg_ut
self_test/datafifo_ut/datafifo_ut
self_test/audio_ut/aud_auto_test_sample/cvi_auto_play
self_test/audio_ut/aud_auto_test_sample/cvi_auto_record
self_test/audio_ut/aud_auto_test_sample/cvi_auto_special
self_test/audio_ut/audio_aec/sample_audio_aec
self_test/audio_ut/audio_anr/sample_audio_nr
self_test/audio_ut/audio_pcm/sample_audio_internal
self_test/audio_ut/audio_resample/sample_audio_resample
self_test/audio_ut/audio_transcode/sample_audio_transcode
self_test/mediapipe

tool/framedump/vi_pipe_dump
tool/framedump/vi_chn_dump
tool/framedump/vpss_chn_dump
